body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #container {
    position: relative;
  }
  
  canvas {
    border: none; /* 테두리 제거 */
  }
  
  .text {
    position: absolute;
    top: 43%;
    right: -8%; /* 우측으로 이동 */
    transform: translate(50%, -50%);
}
